Repository nih-cfde/update-content-registry, pull requests merged in 2022-08, with the labels that each got.

#45 GEO Reverse Search Appyter Link
  Snakefile
  data/inputs/gene_IDs_for_lincs_geo_reverse_appyter.txt
  scripts/build-appyter-gene-links-lincs-geo-reverse.py
Labels: gene

#49 Maayan lab gene kg link ready
  Snakefile
  data/inputs/anatomy_IDs_for_expression_widget.txt
  data/inputs/anatomy_IDs_for_gene_kg.txt
  data/inputs/compound_IDs_for_gene_kg.txt
  data/inputs/gene_IDs_for_gene_kg.txt
  data/inputs/gene_IDs_for_lincs_reverse_search.txt
  scripts/build-markdown-pieces-gene-kg.py
  scripts/build-markdown-pieces-lincs-reverse-search.py
Labels: ready to merge, compound, gene, anatomy

#48 Maayan lab lincs dashboard ready
  Snakefile
  data/inputs/gene_IDs_for_lincs_geo_reverse_appyter.txt
  data/inputs/gene_IDs_for_lincs_reverse_search.txt
Labels: ready to merge, gene

#41 update gene table
  scripts/build-markdown-pieces-gene-translate.py
Labels: gene

#37 add MetGene
  Snakefile
  data/inputs/gene_IDs_for_MetGene.txt
  scripts/build-markdown-pieces-MetGene.py
  scripts/build-markdown-pieces-gene-translate.py
  scripts/genes.R
Labels: ready to merge

#32 add resource markdown content for anatomies
  Snakefile
  data/inputs/Anatomy.csv
  data/inputs/STAGING_PORTAL__anatomy__2022-07-22.txt
  data/inputs/anatomy_IDs_for_expression_widget.txt
  data/inputs/anatomy_gtex.txt
  data/inputs/gene_IDs_for_expression_widget.txt
  scripts/build-anatomy-blank.py
  scripts/build-anatomy-links.py
Labels: anatomy

#33 add compound files and markdown content
  Snakefile
  data/inputs/compound_IDs_DrugCentral.txt
  data/inputs/compound_IDs_DrugCentral_test.txt
  data/inputs/compound_IDs_GlyTouCan.txt
  data/inputs/compound_IDs_GlyTouCan_test.txt
  data/inputs/compound_IDs_PubChem.txt
  data/inputs/compound_IDs_test.txt
  data/inputs/compounds_pubchem2drugcentral.tsv
  scripts/build-appyter-lincs-chemical-sim.py
  scripts/build-compound-drugcentral.py
  scripts/build-compound-glycan.py
  scripts/build-compound-image.py
  scripts/build-compound-links.py
  scripts/build-compound-pubchem.py
  scripts/wrangle-data.R
Labels: ready to merge, compound
